<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Codecool Shop</title>

    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script src="/static/javascript.js"></script>
</head>

<body>
<div class="jumbotron text-center">
    <h1>
        <a href="/" class="head-title">Codecool Shop</a>
    </h1>

</div>

<div class="container">
    <table class="table">
        <tr>
            <th></th>
            <th>Product name</th>
            <th>Price</th>
            <th>Remove item</th>
        </tr>
        <tr th:each="inc,iterStat : ${inCart}">
            <td th:attr="src='/static/img/product_' + ${inc.id} + '.jpg'"></td>
            <td th:text="${inc.name}">Item name</td>
            <td th:text="${inc.getPrice()}">Price</td>
            <td><button type="button" th:id="${inc.getOrderID()}" class="icon-button btn btn-danger fa fa-trash fa-fw"><i></i></button></td>
        </tr>
    </table>
    <p></p>
</div>

<div th:replace="footer.html :: copy"></div>

</body>
</html>